{% extends 'base.html.twig' %}

{% block title %}
    Connexion à l'administration- {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="border-principale py-3 px-3">
                <h2 class="principale text-center mb-3">Administration du site</h2>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="form-group">
                        <label for="inputUsername" class="sr-only">Username</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus />
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required />
                    </div>
                    <div class="form-group text-center">
                        <button class="btn blanc bg-principale" type="submit">Sign in</button>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}