// Blanc
.blanc {
    color: $white !important;
}

.bg-blanc {
    background-color: $white !important;
}

.border-blanc {
    border: 1px solid $white !important;
}

// principale
.principale {
    color: $principale !important;
}

.bg-principale {
    background-color: $principale !important;
}

.border-principale {
    border: 1px solid $principale !important;
}


// Secondaire
.secondaire {
    color: $secondaire !important;
}

.bg-secondaire {
    background-color: $secondaire !important;
}

.border-secondaire {
    border: 1px solid $secondaire !important;
}

// principale
.alternative {
    color: $alternative !important;
}

.bg-alternative {
    background-color: $alternative !important;
}

.border-alternative {
    border: 1px solid $alternative !important;
}
  
.alert-danger {
    background-color: $red !important;
}

.alert-success {
    background-color: $green !important;
}