<div class="modal fade" id="modal_presta" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="presta_denomination"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Catégorie : <span id="categorie"></span></p>
                <p>Description : <span id="description"></span></p>
                <p>Site : <span id="site"></span></p>
                <p>Adresse: <span id="adresse"></span></p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>