{% extends 'base.html.twig' %}

{% block title %}
    Compte-rendu de la dernière Assemblée Générale de l'association - {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="principale">Compte-rendu de la dernière Assemblée Générale de l'association</h1>

    {{ informationsAssociation.compteRenduAG | raw }}
{% endblock %}
