{% extends 'base.html.twig' %}

{% block title %}
    Règlement intérieur de l'association - {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="principale">Règlement intérieur de l'association</h1>

    {{ informationsAssociation.reglementInterieur | raw }}
{% endblock %}
