{% extends 'base.html.twig' %}

{% block title %}
    Statuts de l'association - {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="principale">Statuts de l'association</h1>

    {{ infosAsso.statuts | raw }}
{% endblock %}
