:root {
    /* make the backend contents as wide as the browser window */
    --body-max-width: 100%;
    /* change the background color of the <body> */
    --body-bg: white;
    /* make the base font size smaller */
    --font-size-base: 13px;
    /* remove all border radius to make corners straight */
    --border-radius: 0px;
}

body {
    background-color: #ffffff;
}

.main-header {
    background-color: #960a00;
    padding: 1em;
}

.main-header #header-logo a {
    color: #ffffff;
}

.main-sidebar {
    background-color: rgba(189, 47, 58, 1);
    box-shadow: rgba(59, 64, 94, 0.1) 0px 7px 14px 0px, rgba(0, 0, 0, 0.07) 0px 3px 6px 0px;
}

.sidebar-menu > li > a {
    font-weight: 600;
    color: #ffffff;
}

.sidebar-menu > li > a > .fa {
    color: #cfcfcf;
    filter: none;
}

.sidebar-menu .treeview-menu a {
    color: #cfcfcf;
}

.sidebar-menu li:not(.submenu-active).active .fa,
.sidebar-menu li:not(.submenu-active).active a {
    color: #ffe800
}

.content-header {
    background-color: rgba(189, 47, 58, 1);
}

.content-header h1 {
    color: #ffffff;
}

@media screen and (min-width: 992px) {
    .wrapper {
        margin: 0;
        width: auto;
        grid-template-columns: 250px auto;
        grid-column-gap: 10px;
        grid-row-gap: 0;
    }

    .main-sidebar {
        padding: 10px 20px;
        width: 250px;
    }

    .content-wrapper {
        margin-top: 15px;
    }

    body.easyadmin-sidebar-width-compact .wrapper {
        grid-template-columns: 68px auto;
    }

    body.easyadmin-sidebar-width-compact .main-sidebar {
        width: 68px;
    }
}