<div id="menuModif">
    <div class="itemMenu">
        <a class="modif" href={{path('profil')}}>Profil</a>
    </div>
    <div class="itemMenu">
        <a class="modif" href={{path('modifmdp')}}>Modifier mon mot de passe</a>
    </div>
    <div class="itemMenu">
        <a class="modif" href={{path('modifemail')}}>Modifier mon email</a>
    </div>
    <div class="itemMenu">
        <a class="modif" href={{path('modifinfo')}}>Modifier mes informations personnelles</a>
    </div>
</div>