
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(205, 101, 75);
  color: white;
  padding-left: 40px;
  padding-top: 15px;
  padding-right: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-top: 15px;
  padding-right: 40px;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(177, 48, 15);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fb {
  width: 30px;
  height: 30px;
}

.logolou {
  width: 100px;
  height: 70px;
}

.iconuser {
  width: 70px;
  height: 70px;
}

.container {
  margin-left: 70px;
  margin-top: 70px;
  margin-right: 70px;
  margin-bottom: 70px;
}
