
header, nav, footer {
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(178, 69, 41);
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

nav {
  background-color: rgb(138, 136, 135);
}

#ul1, #ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#fb {
  width: 33px;
  height: 33px;
}

#logo {
  width: 100px;
  height: 70px;
}

#iconuser {
  width: 70px;
  height: 70px;
}

.card-text {
  font-size: 0.8em;
}

section {
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 70px;
}

footer {
  width: 100%;
  background-color: rgb(178, 69, 41);
}
 
#map {
  height: 300px;
  width: 400px;
}

.herePopup {
    text-align: center;
    font-size: 1vmin;
    margin: 0;
    padding: 0;
}

.mainPopup {
    margin: 0;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 900px){
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #ul1, #ul2 {
    padding-left: 10px;
    padding-right: 10px; 
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
