/* Facabook icon*/
.facebook-icon {
    color: $alternative !important;
    font-size: 1.5rem !important;
}

.facebook-icon-contact {
    color: $principale !important;
    font-size: 1.5rem !important;
}

.home-icon {
    font-size: 1.2rem !important;
}