header {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    background-color: $brand-color;
}
