{% extends 'base.html.twig' %}

{% block body %}

<h1>Notre monnaie nous appartient, redonnons lui du sens !</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
Sequi dolor cumque debitis nobis aspernatur perferendis ab commodi atque quaerat! 
Nostrum mollitia quis consequuntur reiciendis officiis tempore fugiat enim, cum sunt! 
Dolores consequatur laboriosam repellendus magni in, hic eveniet distinctio iste.</p>

{% endblock %}