<h1> Merci pour votre inscription !</h1>

Bonjour {{ prenom }} {{ nom }}! Vous êtes inscrit sur loupelou.

<br />Rappel de votre identifiant pour vous connecter : {{ email }}

<br />
<button><a href="{{ url('login') }}">Se connecter</a></button>

