    <h1> Réinitialisation du mots de passe </h1>
    
    <p>
        Bonjour, <br>
        Cliquez sur ce lien pour changer votre mot de passe.
        <a href="{{absolute_url(path('resettingPassword', {'id': user.id, 'token': user.token}))}}">Changer le mot de passe</a>
    </p>
