<h1>Réinitialisation de votre mot de passe</h1>

<p>Bonjour,</p>

<p>Vous avez demandé la réinitialisation de votre mot de passe sur le site <a href="{{ url('index') }}">Lou Pélou</a>.
</p>

<p>Veuillez cliquer sur ce lien pour définir votre nouveau mot de passe :
    <a href="{{ absolute_url(path('resettingPassword', {'id': user.id, 'token': user.token})) }}">Changer mon mot de passe</a>
</p>

<p>Toute l'équipe de l'association Le Chemin Limousin vous souhaite une excellente journée !</p>