<h1>Votre transaction</h1>

<p>Bonjour,</p>

<p>Le {{ date_transaction }}, vous avez effectué une transaction de {{ montant }}€ au comptoir {{ comptoir }}.</p>

<p>Toute l'équipe de l'association Le Chemin Limousin vous remercie, et vous souhaite une excellente journée !</p>

