{% extends "base.html.twig" %}
{% block stylesheets %}<link rel="stylesheet" href="/css/stylesEspaceMembres.css">{% endblock %}
{% block body %}
    <div id="loginBox">
        <h2>Connexion</h2>
        <form action="" method="post">
            <input class="blockInput" placeholder="Adresse email" required name="_username" type="text">
            <input class="blockInput" placeholder="Mot de passe" required name="_password" type="password">
            <button class="boutonConnexion" type="submit">Connexion</button>
        </form>
    </div>
{% endblock %}