{% extends 'base.html.twig' %}

{% block title %} LouPelou{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="map">
            </div>
            <div class="col" >
                <div class="row">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="Rechercher" id="search" name="search">
                        <select class="form-control" id="sel1">
                            <option>Tous</option>
                            <option>Association</option>
                            <option>Alimentation</option>
                            <option>Artisanat</option>
                            <option>Santé</option>
                            <option>Culture</option>
                            <option>Education</option>
                            <option>Hotellerie</option>
                            <option>Social</option>
                            <option>Magasin</option>
                            <option>Restauration</option>
                            <option>Service</option>
                        </select>
                    </div>
                </div>
                <div id="annuaire">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin="">
    </script>
    <script src="/js/set_map.js"></script>
    <script src="/js/generate-marker.js"></script>
    <script src="/js/ajax-annuaire.js"></script>
    <script>
        search.addEventListener("input", function(){
            ajaxPostList('prestataire');
            ajaxPostMap('prestataire');
        });
        selectFilter.addEventListener("change", function() {
            ajaxPostList('prestataire');
            ajaxPostMap('prestataire');
        });
        ajaxPostList('prestataire');
        ajaxPostMap('prestataire');</script>

{% endblock %}