{% block stylesheets %}

    <h1 style="color: #BD2F3A">Le Chemin Limousin<br /><span style="font-size: 80%; color: #000000;"><em>Formulaire d'adhésion</em></span>
    </h1>

    <hr style="margin: 20px 0; border-color: #BD2F3A;" />

    <p style="padding: 10px 20px; color: #565656;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rutrum molestie lacus vel scelerisque. Aenean egestas, quam in pulvinar mollis, eros libero accumsan ligula, fringilla pulvinar nibh turpis vel nibh. Maecenas dictum nisl nibh, at rhoncus est commodo vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt felis ac pellentesque convallis. Ut viverra quam vel est ultricies, vitae aliquet metus ultrices. In hac habitasse platea dictumst. Aliquam suscipit placerat mattis. Pellentesque sollicitudin nisi ex, quis porta elit tempus et. Cras nec mauris neque. Integer mi ante, lobortis sed convallis eu, malesuada ac eros.</p>

    <hr style="margin: 20px 0 40px 0; border-color: #BD2F3A;" />

    <form>
        <div style="margin: 10px 0;">
            <label style="display: inline-block; width: 25%; font-weight: bold; color: #BD2F3A;">Votre prénom :</label>
            <input type="text" style="width: 73%; height: 26px; vertical-align: middle;" />
        </div>
        <div style="margin: 10px 0;">
            <label style="display: inline-block; width: 25%; font-weight: bold; color: #BD2F3A;">Votre nom :</label>
            <input type="text" style="width: 73%; height: 26px; vertical-align: middle;" />
        </div>
        <div style="margin: 10px 0;">
            <label style="display: inline-block; width: 25%; font-weight: bold; color: #BD2F3A;">Votre téléphone :</label>
            <input type="text" style="width: 73%; height: 26px; vertical-align: middle;" />
        </div>
        <div style="margin: 10px 0;">
            <label style="display: inline-block; width: 25%; font-weight: bold; color: #BD2F3A;">Votre adresse e-mail :</label>
            <input type="text" style="width: 73%; height: 26px; vertical-align: middle;" />
        </div>

        <hr style="margin: 40px 0; border-color: #BD2F3A;" />

        <div style="margin: 10px 0;">
            <label style="display: inline-block; width: 25%; font-weight: bold; color: #BD2F3A;">Votre adresse :</label>
            <input type="text" style="width: 73%; height: 26px; vertical-align: middle;" />
        </div>
        <div style="margin: 10px 0;">
            <label style="display: inline-block; width: 25%; font-weight: bold; color: #BD2F3A;">Votre code postal :</label>
            <input type="text" style="width: 73%; height: 26px; vertical-align: middle;" />
        </div>
        <div style="margin: 10px 0;">
            <label style="display: inline-block; width: 25%; font-weight: bold; color: #BD2F3A;">Votre ville :</label>
            <input type="text" style="width: 73%; height: 26px; vertical-align: middle;" />
        </div>
    </form>

    <hr style="margin: 40px 0 20px 0; border-color: #BD2F3A;" />

    <p style="padding: 10px 20px; color: #565656;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rutrum molestie lacus vel scelerisque. Aenean egestas, quam in pulvinar mollis, eros libero accumsan ligula, fringilla pulvinar nibh turpis vel nibh.</p>
{% endblock %}