{% extends 'base.html.twig' %}

{% block title %}
    Inscription réussie - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="py-3 px-3 text-center">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-dismissible alert-success mb-3">
                        <i class="fa fa-check"></i> <span>{{ message }}</span>
                    </div>
                {% endfor %}
                <a class="btn blanc bg-principale" href={{ path('login') }}>Se Connecter</a>
            </div>
        </div>
    </div>


{% endblock %}
