{% extends 'base.html.twig' %}

{% block title %}Mentions légales - {{ parent() }}{% endblock %}

{% block body %}
    <h1 class="principale">Mentions légales</h1>

    {{ Mentions.mentionsLegales | raw }}
{% endblock %}